.todo{
    &__name{
        flex: 1;
        padding: 10px;
        text-align: left;
        margin-left: 20px;
    }
    &__all{
        position: fixed;
        width:50%;
        bottom: 0px;
    }
    &__status{
        margin-right:10px;
    }
}

.container{
   width: 50%;
   margin: auto;
   position: relative;
}