<div class="container">
    <div style="margin-bottom: 10px">
        <mat-form-field>
            <mat-label>Tìm kiếm</mat-label>
            <input matInput >
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="onClickAdd()">Add todo</button>
    </div>
    <mat-list>
      <mat-list-item>
        <mat-checkbox></mat-checkbox>
        <div class="todo__name">Todo replay_10</div>
        <div>
            <button mat-raised-button color="primary" style="margin-right: 10px;">Detail</button>
            <button mat-raised-button color="danger">Remove</button>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox></mat-checkbox>
        <div class="todo__name">Todo replay_10</div>
        <div>
            <button mat-raised-button color="primary" style="margin-right: 10px;">Detail</button>
            <button mat-raised-button color="danger">Remove</button>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox></mat-checkbox>
        <div class="todo__name">Todo replay_10</div>
        <div>
            <button mat-raised-button color="primary" style="margin-right: 10px;">Detail</button>
            <button mat-raised-button color="danger">Remove</button>
        </div>
      </mat-list-item>
    </mat-list>
</div>

