
<mat-dialog-content>
   <mat-form-field>
       <mat-label>Name</mat-label>
       <input matInput />
   </mat-form-field>
   <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option  [value]="'dan'">
       dan
      </mat-option>
      <mat-option  [value]="'dan'">
        dan
       </mat-option>
       <mat-option  [value]="'dan'">
        dan
       </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button >Close</button>
    <button mat-button>Save</button>
</mat-dialog-actions>